<!DOCTYPE html>
<html>

<head>
    <meta charset="utf=8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home | ProbNet2</title>
</head>

<body>
    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
        <a href="{% url 'app_home' %}" class="text-xl font-semibold">ProbNet2</a>
        <div class="space-x-6">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit"
                    class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Logout</button>
            </form>
        </div>
    </nav>
    <div class="px-6 py-6">
        <div class="grid grid-cols-2 gap-4">
            <a href="{% url 'customer_data' %}"
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Create a Customer</a>
            <a href="{% url 'netsweeper_scan' %}"
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Perform Networksweep</a>
            <a href="{% url 'reporting_netsweeper' %}"
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Netsweeper Reports</a>
            <a href="{% url 'NMAP_Scan' %}"
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Perform
                a Device Scan</a>
            <a href="{% url 'reporting_devices' %}"
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Individual Device Reporting</a>
            <a href="{% url 'customer_data_report' %}"
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Customer Reports</a>
            <a href="http://127.0.0.1:8000/admin/core/customer_data/" 
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Edit Customer Information</a> <!--HREF need to change once app goes live.-->
            <a href="http://127.0.0.1:8000/admin/core/device_data/" 
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Edit Device Information</a> <!--HREF need to change once app goes live.-->
            <a href="http://127.0.0.1:8000/admin/core/netsweeper_result/" 
                class="px-6 py-3 text-lg font-semibold bg-gray-300 text-gray-800 rounded-xl hover:bg-gray-400">Edit Netsweeper Information</a> <!--HREF need to change once app goes live.-->
        </div>
        {% block content %} {% endblock %}
    </div>
</body>

</html>


