<!--NAV bar which is across every web page-->

<nav class="py-6 px-6 flex justify-between items-center mx-auto">
    <div class="flex items-center space-x-6">
        <a href="{% url 'app_home' %}" class="text-gray-700 hover:text-teal-500">Home</a>
        <a href="{% url 'customer_data_report' %}" class="text-gray-700 hover:text-teal-500">Customer Reports</a>
        <a href="{% url 'netsweeper_scan' %}" class="text-gray-700 hover:text-teal-500">Netsweeper Scan</a>
        <a href="{% url 'NMAP_Scan' %}" class="text-gray-700 hover:text-teal-500">Device Scan</a>
        <a href="{% url 'reporting_netsweeper' %}" class="text-gray-700 hover:text-teal-500">Netsweeper Reports</a>
    </div>
</nav>

<form method="post" action="{% url 'logout' %}" class="flex justify-end">
    {% csrf_token %}
    <button type="submit" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Logout</button>
</form>
