<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quick Scan History | ProbNet2</title>
</head>

<body class="font-sans antialiased bg-white">

    <nav class="bg-white py-6 px-6 border-b border-gray-200 flex justify-between items-center">
        <a href="/" class="text-xl font-semibold">ProbNet2</a>
        {% include "../../core/nav_bar.html" %}
    </nav>

    <div class="container mx-auto mt-6">

        <table class="min-w-full bg-white border border-gray-300 text-center">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">IP Address</th>
                    <th class="py-2 px-4 border-b">OS</th>
                    <th class="py-2 px-4 border-b">Version</th>
                    <th class="py-2 px-4 border-b">Vendor</th>
                    <th class="py-2 px-4 border-b">Ports Scanned</th>
                    <th class="py-2 px-4 border-b">Created On</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr class="hover:bg-gray-100">
                    <td class="py-2 px-4 border-b">{{ row.IP_Address }}</td>
                    <td class="py-2 px-4 border-b">{{ row.Operating_System.osfamily }}</td>
                    <td class="py-2 px-4 border-b">{{ row.Operating_System.osgen }}</td>
                    <td class="py-2 px-4 border-b">{{ row.Operating_System.vendor }}</td>
                    <td class="py-2 px-4 border-b"><a href="{% url 'reporting_ports' row.id %}"
                            class="text-blue-500 hover:underline">{{ row.port_count }}</a></td>
                    <td class="py-2 px-4 border-b">{{ row.created_on }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>

</html>
