<!DOCTYPE html>
<html>

<head>
    <meta charset="utf=8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quick Scan History | ProbNet2</title>
</head>

<body>
    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
        <a href="/" class="text-xl font-semibold">ProbNet2</a>
        {% include "../../core/nav_bar.html" %}
    </nav>

    <table>
        <tr>
            <th>Portid</th>
            <th>reason</th>
            <th>reason_ttl</th>
            <th>device_data</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.portid}}</td>
            <td>{{ row.reason }}</td>
            <td>{{ row.reason_ttl }}</td>
            <td>{{ row.device_data }}</td>
        </tr>
        {% endfor %}
    </table>

</body>


</html>
